@model AgenciaDeViagens.Models.Agencia

@{
    ViewData["Title"] = "Delete";
}

<h1>Deletar</h1>

<h3>Você tem certeza que quer deletar esse destino?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Passaporte)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Passaporte)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PrecoPromo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PrecoPromo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Cpf)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Destino)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Destino.Data)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Deletar" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-info">Voltar</a>
    </form>
</div>
